@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

body {
    margin: 0;
    background-color: beige;
    overflow: hidden;
    display: flex;
    font-family: 'Knewave','Gowun Dodum', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.left-side>img {
    width: 40vw;
    max-height: 100vh;
}

.banner {
    display: inline-flex;
    justify-content: center;
    color: white;
    font-size: 80px;
    position: absolute;
    top: 20vh;
    height: 200px;
    width: 40vw;
    background-color: #0000008d;
}

.banner>p {
    align-self: center;
}

.left-footer {
    position: absolute;
    width: 40vw;
    color: white;
    bottom: 0;
    margin-bottom: -30px;
    text-align: center;
    font-size: 40px;
}


.right-header {
    margin-top: 5vh;
    margin-left: 32px;
    margin-right: 10vw;
    font-size: 20px;
}


.form-cont {
    background-color: rgb(255, 255, 247);
    color: rgb(98, 98, 98);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.form-inside {
    padding: 32px;
}

.input_field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    margin-right: 10vw;
    margin-bottom: 30px;
}

input {
    padding: 8px 8px 8px 2px;
}

form {
    display: flex;
    flex-wrap: wrap;
}
input:focus{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    outline: none;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

input {
    border-radius: 5px;
}

.right-footer {
    margin-left: 32px;
    margin-top: 30px;
}


.right-footer>button {
    background-color: #596D48;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-weight: 600;

}


a {
    color: #596D48;
    text-decoration: none;
    font-size: 20px;
}